---
import About from "@portfolio/sections/about.astro";
import Contact from "@portfolio/sections/contact.astro";
import Footer from "@portfolio/sections/footer.astro";
import Header from "@portfolio/sections/header.astro";
import Hero from "@portfolio/sections/hero.astro";
import Projects from "@portfolio/sections/projects.astro";
import Services from "@portfolio/sections/services.astro";
import Skills from "@portfolio/sections/skills.astro";
import locales from "@/assets/content/meta.json";
import Translator from "@/components/translator.astro";
import { getLocalesByLang } from "@/lib/locale";

import "@/styles/global.css";

const lang = Astro.currentLocale;

const { canonical, description, keywords, og_locale } = getLocalesByLang(
  locales,
  lang,
);
---

<html lang={lang} class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/icons/zap.svg" />
    <meta name="viewport" content="width=device-width" />

    <title>Criss's portfolio</title>
    <meta name="description" content="Criss's portfolio" />

    <meta name="author" content="Cristian Carralero" />
    <meta name="keywords" content={keywords} />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href={canonical} />

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icons/apple-touch-icon-180x180.png"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonical} />
    <meta property="og:title" content="Cristian - Fullstack & Web3" />

    <meta property="og:description" content={description} />

    <meta property="og:image" content="https://crisscode.xyz/og-image.png" />

    <meta property="og:site_name" content="Criss's Portfolio" />
    <meta property="og:locale" content={og_locale} />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content={canonical} />
    <meta name="twitter:title" content="Cristian - Fullstack & Web3" />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="https://crisscode.xyz/og-image.png" />
    <meta name="twitter:creator" content="@carralero706" />

    <!-- Structured Data -->
    <script is:inline type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Cristian Carralero",
        "url": "https://crisscode.xyz",
        "jobTitle": "Full-Stack & Web3 Developer",
        "sameAs": [
          "https://github.com/criss8X",
          "https://linkedin.com/in/cristian-carralero",
          "https://x.com/carralero706/"
        ]
      }
    </script>
  </head>

  <body class="min-h-screen bg-black text-white grid-pattern">
    <Translator />

    <Header />

    <Hero />

    <About />

    <Services />

    <Skills />

    <Projects />

    <Contact />

    <Footer />
  </body>
</html>
