---
import Card from "@/components/card.astro";
import { Github, Linkedin, Mail } from "@/components/icon.astro";
import LinkButton from "@/components/link.astro";
import Section from "@/components/section.astro";
import { parseHighlightsFromParagraph } from "@/lib/markdown";
import { getContactLocale } from "@/locales/locale";

const { UI } = getContactLocale(Astro.currentLocale);

const { sendMessageBtn, title, connectBtn, viewCodeBtn, contactDescription } =
  UI;

const descHtml = parseHighlightsFromParagraph(contactDescription);
---

<Section id="contact" title={title} className="max-w-4xl" spacing="sm">
  <div class="text-sm text-purple-400 mb-4">
    {"~/contact $ let's_build_something_amazing"}
  </div>

  <p
    class="text-md text-muted-foreground max-w-xl mx-auto"
    set:html={descHtml}
  />

  <!-- Contact cards -->
  <div class="grid grid-cols-2 md:grid-cols-3 gap-6 max-w-4xl mx-auto">
    <Card hasShine={true} spacing="sm">
      <Card variant="content" className="text-center space-y-4">
        <div class="text-center space-y-4">
          <div
            class="mx-auto size-12 bg-purple-600/20 rounded-lg flex items-center justify-center"
          >
            <Mail class="h-6 w-6 text-purple-400" />
          </div>

          <div>
            <h3 class="font-console text-lg font-semibold mb-2">Email</h3>

            <p class="text-sm text-muted-foreground mb-4 truncate">
              carralerocristianx@gmail.com
            </p>
          </div>
        </div>
      </Card>

      <Card variant="footer" className="mt-auto">
        <LinkButton
          href="mailto:carralerocristianx@gmail.com"
          className="flex-1"
        >
          {sendMessageBtn}
        </LinkButton>
      </Card>
    </Card>

    <Card hasShine={true} spacing="sm">
      <Card variant="content" className="text-center space-y-4">
        <div
          class="mx-auto size-12 bg-purple-600/20 rounded-lg flex items-center justify-center group-hover:bg-purple-600/30 transition-colors"
        >
          <Linkedin class="size-6 text-purple-400" />
        </div>

        <div>
          <h3 class="font-console text-lg font-semibold mb-2">LinkedIn</h3>

          <p class="text-sm text-muted-foreground mb-4">@carralerocristianx</p>
        </div>
      </Card>

      <Card variant="footer" className="mt-auto">
        <LinkButton
          variant="outline"
          href="https://www.linkedin.com/in/carralerocristianx/"
          target="_blank"
          className="flex-1 hover:text-purple-300"
        >
          {connectBtn}
        </LinkButton>
      </Card>
    </Card>

    <Card hasShine={true} spacing="sm">
      <Card variant="content" className="text-center space-y-4">
        <div
          class="mx-auto w-12 h-12 bg-purple-600/20 rounded-lg flex items-center justify-center group-hover:bg-purple-600/30 transition-colors"
        >
          <Github class="h-6 w-6 text-purple-400" />
        </div>

        <div>
          <h3 class="font-console text-lg font-semibold mb-2">GitHub</h3>
          <p class="text-sm text-muted-foreground mb-4">@criss8X</p>
        </div>
      </Card>

      <Card variant="footer" className="mt-auto">
        <LinkButton
          variant="outline"
          href="https://github.com/criss8X"
          target="_blank"
          className="flex-1 hover:text-purple-300"
        >
          {viewCodeBtn}
        </LinkButton>
      </Card>
    </Card>
  </div>
</Section>
